{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/loader.js' %}" defer></script>
{% endblock %}

{% block content %}
    <section>
        <ul class="history--ul custom-marker">
            {% for i in paragraphs %}
            <li class="question--item">
                <form class="text-area--form" name="text-area-form" id="text-area-form" method="POST" action="/questions/">
                    {% csrf_token %}
                    <textarea class="text-area--text no-display" name="text-area" id="text-area" placeholder="Text here..." words="0" type="hidden">{{i}}</textarea>
                    <p class="question--text">{{i}}</p>
                    <button type="submit" class="submit-btn btn round-border-thin" id="text-area-btn-submit" name="text-area-btn-submit" value="generate-questions">See Questions</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}