{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/loader.js' %}" defer></script>
    <script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}

{% block content %}
    <section>
        <ul>
            {% for i in paragraphs %}
            <li class="question--item">
                <p>{{i}}</p>
                <button type="submit">See Questions</button>
            </li>
    {% endfor %}
        </ul>

    </section>
{% endblock %}