{% extends 'base.html' %}
{% load static %}

{% block title %}Questions{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block script %}
    <script>
        var textarea_text= "{{text}}";
    </script>
    <script src="{% static 'js/questions.js' %}"></script>
{% endblock %}

{% block content %}
    <a class="go-back btn round-border-thin" href="/">🠔 Go Back</a>

    <section class="display-text round-border" id="span-text">
        {% for s in sentences %}
            <span indx="{{forloop.counter0}}">
                {{s}}
            </span>
        {% endfor %}
    </section>

    <section class="questions-container">
        <button class="clear_selection btn round-border-thin no-display" id="clear_selection-btn" name="clear_selection-btn" onclick="clearSelection()">X</button>
        <ul class="questions-ul" name="" id="">
            {% for s in sentences %}
                <li class="question-item">
                    <span class="question">
                        {{s}}
                    </span>
                    <button class="highlight btn round-border-thin" onclick="highlightPrase('{{forloop.counter0}}')">hightlight</button>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}