/* Home */




/* Sign Up & Login */

.form-container {
    display: block;
    width: 30%;
    margin: 3rem auto;
    padding: 3rem;
}

.pg-title {
    text-align: center;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-input {
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.1rem 0.5rem;
    position: relative;
    border-bottom: 2px solid currentColor;
    outline: none;
    /* padding: 1rem; */
}

.form-input:hover::placeholder, .form-input:focus::placeholder {
    opacity: 1;
}

.form-input::placeholder {
    color: var(--text-color);
    opacity: 0.3;
    transition: 150ms;
}

.signup-btn, .login-btn, .reset-btn{
    color: var(--text-color);
    transition: transform 250ms;
}

.signup-btn:hover, .signup-btn:focus,
.login-btn:hover, .login-btn:focus,
.reset-btn:hover, .reset-btn:focus {
    transform: scale(1.2);
}





